<!-- Footer -->
  <footer
          class="text-center text-lg-start text-white"
          style="background-color: #3e4551"
          >
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">The only app you need</h5>

            <p>
              With BuzzTracker, content comes to you. Follow websites, social media feeds, podcasts, blogs, and newsletters. Enjoy what's important to you, all in one place.
              It is 'the' news manager that tracks any online source you choose and bundles it into an easy-to-digest reading experience
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">with us, you become</h5>

            <ul class="list-unstyled mb-0">
              <li><strong>Always
informed</strong> <br>
                <p>
With our app, you keep 100% updated with news in your industry – including competitors, trends, regulations and social media.</p>
              </li>
              <li><strong>Always at
one glance</strong> <br>
                <p>Important information easy to digest - so you can take it all in at one glance. Increase relevancy and customize to your needs.</p>
              </li>
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Our products</h5>

            <ul class="list-unstyled mb-0">
              <li>
                <a href="https://translate-api.svontheweb.repl.co" class="text-white">Feed translation API</a>
              </li>
              <li>
                <a href="https://github.com/svontheweb/BuzzTracker/blob/b56491c3a97407a705f34d9ab92791a5aa8b0b16/BuzzTracker.apk" class="text-white">BuzzTracker Android app</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->


        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->

      <hr class="mb-4" />

      <!-- Section: CTA -->
      <section class="">
        <p class="d-flex justify-content-center align-items-center">
          <span class="me-3">Register for free</span>
          <button type="button" class="btn btn-outline-light btn-rounded">
            Sign up!
          </button>
        </p>
      <hr class="mb-4" />
        <p class="d-flex justify-content-center align-items-center">
          Your favorite content. All in one place<br>Stay up to date with what is relevant to you.
        </p>
      </section>
      <!-- Section: CTA -->



    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)">
      <p>&copy; Copyright free <a class="text-white" href="buzztracker.me/">BuzzTracker.me</a> is completly <a class="text-white" href="https://github.com/svontheweb/BuzzTracker">open-sourced</a> for everyone <br> Made with 💖 | 2023 - present</p>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
