<!DOCTYPE html>
<html>
<head>
  <title>Log-in | {{ project_name }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
  {% include 'bootstrap.html'%}
  
</head>
<body>
  <div class="signup-box">
    <h2>log into your account</h2>
    <form id="signup-form" action="/login_check" method="POST">
      <label>Email</label>
      <input type="email" name="email" placeholder="Enter Email" required>
      <label>Password</label>
      <input type="password" name="password" id="password" placeholder="Enter Password" required>
      <span id="password-error" class="error-message"></span>
      <button type="submit">Log in</button>
      <div class="popup">
        <p>don't have an account? <a href="/signup">signup</a></p>
      </div>
    </form>
  </div>

</body>
</html>
